@model List<MVC_StokOtomasyonProje.Models.Entity.Markalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Marka Listesi</h2>
<table class="table table-bordered table-striped">
    <thead style="background-color:aliceblue">
        <tr>
            <th>
                ID
            </th>

            <th>
                Kategori
            </th>

            <th>
                Marka
            </th>

            <th>
                Açıklama
            </th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Ürünler</th>
        </tr>
    </theadstyle="background-color:aliceblue">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @item.ID
                </th>
                <td>@item.Kategoriler.Kategori</td>
                <td>@item.Marka</td>
                <td>@item.Aciklama</td>
                <td><a href="/Markalar/SilBilgiGetir/@item.ID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Markalar/GuncelleBilgiGetir/@item.ID" class="btn btn-primary">Güncelle</a></td>
                <td><a href="/Markalar/Urunler/@item.ID" class="btn btn-info">Ürünler</a></td>
            </tr>
        }
    </tbody>


</table>

<a href="/Markalar/Ekle/" class="btn btn-success">Marka Ekle</a>
